.env
.env.local
.env.production
.env.*.local
.env.*
!.env.example

functions/.env
functions/.env.*
!functions/.env.example

.firebase/
firebase-debug.log
repomix-output.xml
dist/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.secret.local
functions/.secret.local
/dist/