.env
.env.local
.env.production
.env.*.local

.firebase/
firebase-debug.log
repomix-output.xml
dist/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
